In [1]:
import numpy as np
import pandas as pd

In [2]:
test_data = pd.read_csv('data/Test.csv',low_memory=False,parse_dates=['saledate'])

In [3]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12457 entries, 0 to 12456
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   12457 non-null  int64
 1   MachineID                 12457 non-null  int64
 2   ModelID                   12457 non-null  int64
 3   datasource                12457 non-null  int64
 4   auctioneerID              12457 non-null  int64
 5   YearMade                  12457 non-null  int64
 6   MachineHoursCurrentMeter  2129 non-null   float64
 7   UsageBand                 1834 non-null   object
 8   saledate                  12457 non-null  datetime64[ns]
 9   fiModelDesc               12457 non-null  object
 10  fiBaseModel               12457 non-null  object
 11  fiSecondaryDesc           8482 non-null   object
 12  fiModelSeries             2006 non-null   object
 13  fiModelDescriptor         3024 non-null   object
 14  ProductSize               6048 non-null   object
 15  fiProductClassDesc        12457 non-null  object
 16  state                     12457 non-null  object
 17  ProductGroup              12457 non-null  object
 18  ProductGroupDesc          12457 non-null  object
 19  Drive_System              2759 non-null   object
 20  Enclosure                 12455 non-null  object
 21  Forks                     6308 non-null   object
 22  Pad_Type                  2108 non-null   object
 23  Ride_Control              4241 non-null   object
 24  Stick                     2108 non-null   object
 25  Transmission              4818 non-null   object
 26  Turbocharged              2108 non-null   object
 27  Blade_Extension           651 non-null    object
 28  Blade_Width               651 non-null    object
 29  Enclosure_Type            651 non-null    object
 30  Engine_Horsepower         651 non-null    object
 31  Hydraulics                10315 non-null  object
 32  Pushblock                 651 non-null    object
 33  Ripper                    2704 non-null   object
 34  Scarifier                 651 non-null    object
 35  Tip_Control               651 non-null    object
 36  Tire_Size                 2778 non-null   object
 37  Coupler                   7601 non-null   object
 38  Coupler_System            2066 non-null   object
 39  Grouser_Tracks            2066 non-null   object
 40  Hydraulics_Flow           2066 non-null   object
 41  Track_Type                3394 non-null   object
 42  Undercarriage_Pad_Width   3398 non-null   object
 43  Stick_Length              3394 non-null   object
 44  Thumb                     3395 non-null   object
 45  Pattern_Changer           3394 non-null   object
 46  Grouser_Type              3394 non-null   object
 47  Backhoe_Mounting          2051 non-null   object
 48  Blade_Type                2058 non-null   object
 49  Travel_Controls           2058 non-null   object
 50  Differential_Type         2129 non-null   object
 51  Steering_Controls         2129 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(44)
memory usage: 4.9+ MB

In [4]:
test_data.isna().sum()

SalesID                         0
MachineID                       0
ModelID                         0
datasource                      0
auctioneerID                    0
YearMade                        0
MachineHoursCurrentMeter    10328
UsageBand                   10623
saledate                        0
fiModelDesc                     0
fiBaseModel                     0
fiSecondaryDesc              3975
fiModelSeries               10451
fiModelDescriptor            9433
ProductSize                  6409
fiProductClassDesc              0
state                           0
ProductGroup                    0
ProductGroupDesc                0
Drive_System                 9698
Enclosure                       2
Forks                        6149
Pad_Type                    10349
Ride_Control                 8216
Stick                       10349
Transmission                 7639
Turbocharged                10349
Blade_Extension             11806
Blade_Width                 11806
Enclosure_Type              11806
Engine_Horsepower           11806
Hydraulics                   2142
Pushblock                   11806
Ripper                       9753
Scarifier                   11806
Tip_Control                 11806
Tire_Size                    9679
Coupler                      4856
Coupler_System              10391
Grouser_Tracks              10391
Hydraulics_Flow             10391
Track_Type                   9063
Undercarriage_Pad_Width      9059
Stick_Length                 9063
Thumb                        9062
Pattern_Changer              9063
Grouser_Type                 9063
Backhoe_Mounting            10406
Blade_Type                  10399
Travel_Controls             10399
Differential_Type           10328
Steering_Controls           10328
dtype: int64

### Train dataset

In [5]:
train_data = pd.read_csv('train.csv',low_memory=False)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  float64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              401125 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  401125 non-null  float64
 8   UsageBand                 401125 non-null  int64
 9   fiModelDesc               401125 non-null  int64
 10  fiBaseModel               401125 non-null  int64
 11  fiSecondaryDesc           401125 non-null  int64
 12  fiModelSeries             401125 non-null  int64
 13  fiModelDescriptor         401125 non-null  int64
 14  ProductSize               401125 non-null  int64
 15  fiProductClassDesc        401125 non-null  int64
 16  state                     401125 non-null  int64
 17  ProductGroup              401125 non-null  int64
 18  ProductGroupDesc          401125 non-null  int64
 19  Drive_System              401125 non-null  int64
 20  Enclosure                 401125 non-null  int64
 21  Forks                     401125 non-null  int64
 22  Pad_Type                  401125 non-null  int64
 23  Ride_Control              401125 non-null  int64
 24  Stick                     401125 non-null  int64
 25  Transmission              401125 non-null  int64
 26  Turbocharged              401125 non-null  int64
 27  Blade_Extension           401125 non-null  int64
 28  Blade_Width               401125 non-null  int64
 29  Enclosure_Type            401125 non-null  int64
 30  Engine_Horsepower         401125 non-null  int64
 31  Hydraulics                401125 non-null  int64
 32  Pushblock                 401125 non-null  int64
 33  Ripper                    401125 non-null  int64
 34  Scarifier                 401125 non-null  int64
 35  Tip_Control               401125 non-null  int64
 36  Tire_Size                 401125 non-null  int64
 37  Coupler                   401125 non-null  int64
 38  Coupler_System            401125 non-null  int64
 39  Grouser_Tracks            401125 non-null  int64
 40  Hydraulics_Flow           401125 non-null  int64
 41  Track_Type                401125 non-null  int64
 42  Undercarriage_Pad_Width   401125 non-null  int64
 43  Stick_Length              401125 non-null  int64
 44  Thumb                     401125 non-null  int64
 45  Pattern_Changer           401125 non-null  int64
 46  Grouser_Type              401125 non-null  int64
 47  Backhoe_Mounting          401125 non-null  int64
 48  Blade_Type                401125 non-null  int64
 49  Travel_Controls           401125 non-null  int64
 50  Differential_Type         401125 non-null  int64
 51  Steering_Controls         401125 non-null  int64
 52  saleYear                  401125 non-null  int64
 53  saleMonth                 401125 non-null  int64
 54  saleDay                   401125 non-null  int64
 55  saleDayOfWeek             401125 non-null  int64
 56  saleDayOfYear             401125 non-null  int64
dtypes: float64(3), int64(54)
memory usage: 174.4 MB

In [6]:
train_data.shape

(401125, 57)

In [7]:
test_data.shape

(12457, 52)

In [8]:
pd.Categorical(test_data['Track_Type'])

[NaN, NaN, 'Steel', 'Steel', NaN, ..., 'Rubber', 'Steel', 'Steel', 'Steel', 'Steel']
Length: 12457
Categories (2, object): ['Rubber', 'Steel']

In [9]:
# Getting the same shape with train data set

In [20]:
def process_data(df):
    
    
    
    df['saleYear'] = df.saledate.dt.year
    df['saleMonth'] = df.saledate.dt.month
    df['saleDay'] = df.saledate.dt.day
    df['saleDayOfWeek'] = df.saledate.dt.dayofweek
    df['saleDayOfYear'] = df.saledate.dt.dayofyear

    #df.drop('saledate',axis=1,inplace=True)


    #filling numeric to median
    for label,content in df.items():
        if pd.api.types.is_numeric_dtype(content):
            if pd.isnull(content).sum():
                df[label] = content.fillna(content.median())

    #Category missing data
        if not pd.api.types.is_numeric_dtype(content):
            #df[label] = content.astype('category').cat.as_ordered()
            df[label] = pd.Categorical(content).codes+1
    return df

In [21]:
## Cleaning test data
process_data(test_data)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
0,1227829,1006309,3168,121,3,1999,3688.0,2,3,499,...,0,0,0,0,0,2012,5,3,3,124
1,1227844,1022817,7271,121,3,1000,28555.0,1,9,831,...,0,0,0,3,2,2012,5,10,3,131
2,1227847,1031560,22805,121,3,2004,6038.0,3,9,1177,...,0,0,0,0,0,2012,5,10,3,131
3,1227848,56204,1269,121,3,2006,8940.0,1,9,287,...,0,0,0,0,0,2012,5,10,3,131
4,1227863,1053887,22312,121,3,2005,2286.0,2,9,566,...,1,4,5,0,0,2012,5,10,3,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12452,6643171,2558317,21450,149,2,2008,3525.0,0,126,713,...,0,0,0,0,0,2012,10,24,2,298
12453,6643173,2558332,21434,149,2,2005,3525.0,0,126,186,...,0,0,0,0,0,2012,10,24,2,298
12454,6643184,2558342,21437,149,2,1000,3525.0,0,126,325,...,0,0,0,0,0,2012,10,24,2,298
12455,6643186,2558343,21437,149,2,2006,3525.0,0,126,325,...,0,0,0,0,0,2012,10,24,2,298
12456,6643196,2558346,21446,149,2,2008,3525.0,0,100,483,...,0,0,0,0,0,2012,9,19,2,263

In [22]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12457 entries, 0 to 12456
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   12457 non-null  int64
 1   MachineID                 12457 non-null  int64
 2   ModelID                   12457 non-null  int64
 3   datasource                12457 non-null  int64
 4   auctioneerID              12457 non-null  int64
 5   YearMade                  12457 non-null  int64
 6   MachineHoursCurrentMeter  12457 non-null  float64
 7   UsageBand                 12457 non-null  int8
 8   saledate                  12457 non-null  int16
 9   fiModelDesc               12457 non-null  int16
 10  fiBaseModel               12457 non-null  int16
 11  fiSecondaryDesc           12457 non-null  int8
 12  fiModelSeries             12457 non-null  int8
 13  fiModelDescriptor         12457 non-null  int8
 14  ProductSize               12457 non-null  int8
 15  fiProductClassDesc        12457 non-null  int8
 16  state                     12457 non-null  int8
 17  ProductGroup              12457 non-null  int8
 18  ProductGroupDesc          12457 non-null  int8
 19  Drive_System              12457 non-null  int8
 20  Enclosure                 12457 non-null  int8
 21  Forks                     12457 non-null  int8
 22  Pad_Type                  12457 non-null  int8
 23  Ride_Control              12457 non-null  int8
 24  Stick                     12457 non-null  int8
 25  Transmission              12457 non-null  int8
 26  Turbocharged              12457 non-null  int8
 27  Blade_Extension           12457 non-null  int8
 28  Blade_Width               12457 non-null  int8
 29  Enclosure_Type            12457 non-null  int8
 30  Engine_Horsepower         12457 non-null  int8
 31  Hydraulics                12457 non-null  int8
 32  Pushblock                 12457 non-null  int8
 33  Ripper                    12457 non-null  int8
 34  Scarifier                 12457 non-null  int8
 35  Tip_Control               12457 non-null  int8
 36  Tire_Size                 12457 non-null  int8
 37  Coupler                   12457 non-null  int8
 38  Coupler_System            12457 non-null  int8
 39  Grouser_Tracks            12457 non-null  int8
 40  Hydraulics_Flow           12457 non-null  int8
 41  Track_Type                12457 non-null  int8
 42  Undercarriage_Pad_Width   12457 non-null  int8
 43  Stick_Length              12457 non-null  int8
 44  Thumb                     12457 non-null  int8
 45  Pattern_Changer           12457 non-null  int8
 46  Grouser_Type              12457 non-null  int8
 47  Backhoe_Mounting          12457 non-null  int8
 48  Blade_Type                12457 non-null  int8
 49  Travel_Controls           12457 non-null  int8
 50  Differential_Type         12457 non-null  int8
 51  Steering_Controls         12457 non-null  int8
 52  saleYear                  12457 non-null  int64
 53  saleMonth                 12457 non-null  int64
 54  saleDay                   12457 non-null  int64
 55  saleDayOfWeek             12457 non-null  int64
 56  saleDayOfYear             12457 non-null  int64
dtypes: float64(1), int16(3), int64(11), int8(42)
memory usage: 1.7 MB

In [26]:
test_data.columns , train_data.columns

(Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
        'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
        'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
        'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
        'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
        'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
        'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
        'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
        'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
        'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
        'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
        'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
        'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
        'saleDay', 'saleDayOfWeek', 'saleDayOfYear'],
       dtype='object'),
 Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
        'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
        'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
        'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
        'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
        'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
        'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
        'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
        'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
        'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
        'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
        'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
        'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
        'saleDay', 'saleDayOfWeek', 'saleDayOfYear'],
       dtype='object'))

In [35]:
test_data.drop('saledate',axis=1,inplace=True)

In [36]:
train_data.drop('SalePrice',axis=1,inplace=True)

In [37]:
train_data.reindex(sorted(train_data.columns), axis=1).columns == test_data.reindex(sorted(test_data.columns), axis=1).columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [38]:
## Saving the clean train data
train_data.to_csv('clean_train.csv',index=False)

In [39]:
set(train_data.columns) - set(test_data.columns)

set()